.input
  .input__wrapper
    position: relative
  .input__placeholder
    position: absolute
    top: 0
    pointer-events: none
    top: 50%
    transform: translateY(-50%)
  .input__field
    display: block
    width: 100%
    border: none
    outline: none
    margin: 0
    padding: 0
    background-color: transparent
  .input__label
    display: block

.input--textarea
  .input__placeholder
    top: 0
    transform: unset
  .input__field
    resize: none

.input--focused
  .input__placeholder
    display: none

.input--filled
  .input__placeholder
    display: none